[submodule "原始碼/前端/angular-demo"]
	path = 原始碼/前端/angular-demo
	url = https://kamesan634@github.com/kamesan634/angular-demo.git
[submodule "原始碼/前端/vue-demo"]
	path = 原始碼/前端/vue-demo
	url = https://kamesan634@github.com/kamesan634/vue-demo.git
[submodule "原始碼/前端/react-demo"]
	path = 原始碼/前端/react-demo
	url = https://kamesan634@github.com/kamesan634/react-demo.git
[submodule "原始碼/後端/dotnetapi-demo"]
	path = 原始碼/後端/dotnetapi-demo
	url = https://kamesan634@github.com/kamesan634/dotnetapi-demo.git
[submodule "原始碼/後端/fastapi-demo"]
	path = 原始碼/後端/fastapi-demo
	url = https://kamesan634@github.com/kamesan634/fastapi-demo.git
[submodule "原始碼/後端/laravelapi-demo"]
	path = 原始碼/後端/laravelapi-demo
	url = https://kamesan634@github.com/kamesan634/laravelapi-demo.git
[submodule "原始碼/後端/springbootapi-demo"]
	path = 原始碼/後端/springbootapi-demo
	url = https://kamesan634@github.com/kamesan634/springbootapi-demo.git
[submodule "原始碼/全端/django-demo"]
	path = 原始碼/全端/django-demo
	url = https://kamesan634@github.com/kamesan634/django-demo.git
[submodule "原始碼/全端/dotnet-demo"]
	path = 原始碼/全端/dotnet-demo
	url = https://kamesan634@github.com/kamesan634/dotnet-demo.git
[submodule "原始碼/全端/laravel-demo"]
	path = 原始碼/全端/laravel-demo
	url = https://kamesan634@github.com/kamesan634/laravel-demo.git
[submodule "原始碼/全端/springboot-demo"]
	path = 原始碼/全端/springboot-demo
	url = https://kamesan634@github.com/kamesan634/springboot-demo.git
[submodule "原始碼/後端/nestjs-demo"]
	path = 原始碼/後端/nestjs-demo
	url = https://kamesan634@github.com/kamesan634/nestjs-demo.git
[submodule "原始碼/全端/nextjs-demo"]
	path = 原始碼/全端/nextjs-demo
	url = https://kamesan634@github.com/kamesan634/nextjs-demo.git
[submodule "原始碼/後端/go-demo"]
	path = 原始碼/後端/go-demo
	url = https://kamesan634@github.com/kamesan634/go-demo.git
